<!DOCTYPE html>
<html>
<head>
	<title>Prediction</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
<div class="row">
<div class="center">
<img src="/media/Football_Winner_Result.jpg">
</div>
</div>
<div class="row">
<h5>Our models predicts the winner as <blockquote>{{ team_winner_predictor }}</blockquote> with the confidence score of <blockquote>{{ team_winning_confidence_score }}</blockquote></h5>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>