<!-- ENtry point for the project -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Test page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">

</head>
<body>
<div>
	<h2>General news</h2>
{% for item in result %}
    <h4>{{ item.title }} </h4>
    <p>{{ item.body }}</p>
    <p><a href={{ item.url }}>Source</a></p>
{% endfor %}

	<h2>Team news</h2>
{{ team_news }}
</div>
</body>
</html>
