body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  padding: 8px;
  background: rgba(251, 255, 0, 0.8);
  border-radius: 8px;
  margin: 0;
  font-size: 64px;
  font-family: "Roboto Slab", serif;
}

p {
  line-height: 1.5;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Inputs */

input,
textarea {
  height: 32px;
  padding: 0 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  border: none;
  box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
}

input:focus,
textarea:focus {
  outline: none;
}

/* Banner */

#banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2) url("img/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
}

#banner h2 {
  background: transparent;
  border-radius: 8px;
  padding: 0 30px;
  font-size: 30px;
  color: white;
}

/* Search Box */

#searchbox {
  position: fixed;
  right: 0;
  top: 24px;
  width: 500px;
  pointer-events: none;
  z-index: 50;
  transition: 0.4s;
}

#searchbox input {
  height: 48px;
  width: 100%;
}

/* Navigation */

nav {
  height: 72px;
  background: #202125;
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  z-index: 100;
}

nav a {
  padding: 0 32px;
  color: #eee;
  transition: 0.4s;
}

nav a:hover {
  text-decoration: none;
  color: yellow;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

.active {
  color: #white;
}

#logo-img {
  display: flex;
  height: 100%;
  background: #202125;
  padding: 0 32px;
  align-items: center;
  color: white;
  transition: 0.4s;
}

#logo-img img {
  height: 100px;
}

#logo-img:hover {
cursor: pointer;
}

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: #eee;
  display: none;
  align-items: center;
}

/* Search Icon */

#search-icon {
  color: white;
  padding: 0 32px;
  cursor: pointer;
  transition: 0.4s;
}

#search-icon:hover {
  color: yellow;
}

/* Slideout Menu */

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity:0;
  pointer-events:none;
}

#slideout-menu ul {
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul li {
  padding: 8px;
}

#slideout-menu a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: white;
}

#slideout-menu input {
  width: 85%;
  padding: 8px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Sections */

section {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
}

.section-heading {
  font-size: 32px;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
}

.section-heading:hover {
  padding: 4px 48px;
  background:yellow;
}

.scorecard{
  display: flex;
  justify-content: space-evenly;
}

/* Section Source */

#section-source p {
  padding: 0px;
  text-align: left;
  display: flex;
}

#section-source a {
  margin: 8px;
  text-align: center;
}

/* Card */

.card-image {
  transition: 0.4s;
  display: flex;
  justify-content: stretch;
}

.card .card-description {
  padding: 0 8px;
}

.card-meta-blogpost{
  color:#333;
  font-size:14px;
  padding: 16px;
  font-family:'Roboto Slab', serif;
}

.card-meta-blogpost a{
  color:#333;
}

/* Button */

.btn-readmore {
  padding: 8px 24px;
  border: 3px solid black;
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 24px;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.btn-readmore:hover {
  background: rgb(251, 255, 0);
  text-decoration: none;
  
  padding: 8px 24px 8px 24px;
  color: black;
}

/* Footer */

footer {
  background: black;
  padding: 8px;
  color: #eee;
  display: flex;
}

footer a {
  color: white;
}

footer #left-footer {
  flex: 1;
  border-right: 1px solid yellow;
  padding-left: 32px;
}

footer #left-footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

footer #right-footer {
  flex: 2;
  padding: 8px;
  text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github {
  color: white;
  transition: 0.4s;
}

footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li {
  font-size: 48px;
  padding: 16px;
  transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube {
  color: yellow;
}

footer #social-media-footer ul li:hover a .fa-facebook {
  color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-github {
  color: #bbb;
}

/* Blog List page */

.page-heading{
  font-size:32px;
  font-family:'Roboto Condensed', sans-serif;
  border-left:3px solid black;
  border-right:3px solid black;
  transition: all 0.4s;
  display:inline-block;
  padding:4px 32px;
  margin-top: 120px;
}

.page-heading:hover{
  padding:4px 48px;
  background:yellow;
}

.card-meta{
  color:#333;
  font-size: 14px;
  padding-left:8px;
  font-family:'Roboto Slab', serif;
}

.card-meta a{
  color:#333;
}

/* Pagination */

.pagination{
  padding:8px;
  text-align:center;
  font-weight:bold;
}

.pagination a{
  border-top: 3px solid white;
  display: inline-block;
  padding:8px 16px;
  transition:0.4s;
}

.pagination a:hover{
  text-decoration: none;
  border-top:3px solid black;
}

/* Single Newscard */

#post-container{
  display: flex;
}

#blogpost{
  display: flex;
  flex-direction:column;
  width:70%;
  border-left:1px solid #999;
}

#blogpost .card{
  width:100%;
}

#blogpost .card-image:hover{
  box-shadow: none;
}

/* Sidebar */

#sidebar{
  background:#333;
  flex:1;
  padding: 8px 16px;
  color:white;
  box-shadow: inset 27px 0 51px -18px rgba(0,0,0,0.75);
}

/* Comments section */

#comments-section{
  border-top: 2px solid #eee;
  padding:8px;
}
#container {
  display: flex;
}

#style1 {
  display: inline-flex;
  flex-direction: column;
}

.pricing-style1 .pricing-plan {background: #fcd129;border-radius: 20px;margin-bottom: 35px;-webkit-transition: .3s ease all;transition: .3s ease all;}
.pricing-style1 .pricing-head {position: relative;text-align:center;z-index: 11;background-color:#e6e5e3;border-radius: 18px 18px 0 0;}
.pricing-style1 .pricing-head img.shape {position: absolute;width: 100%;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: -1;top: 94%;}
.pricing-style1 .pricing-head img.shape_hover {display: none;}
.pricing-style1 .pricing-plan:hover .pricing-head img.shape {display: none;}
.pricing-style1 .pricing-plan:hover .pricing-head img.shape_hover {position: absolute;width: 100%;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: -1;top: 94%;display: block;}
.pricing-style1 .pricing-head .name {font-size: 34px;text-transform: uppercase;color: #363636;line-height: normal;margin-bottom: 10px;font-weight: 700;padding-top: 40px;}
.pricing-style1 .pricing-head .short-desc {font-size: 12pt;line-height: 16pt;position: relative;padding-bottom: 15px;margin-bottom: 10px;}
.pricing-style1 .short-desc:after {content: '';position: absolute;height: 1px;width: 70%;background-color: #fff;bottom: 0;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);box-shadow: 0 1px 0 rgba(0,0,0,0.1);}
.pricing-style1 .pricing-head .price {color: #363636;}
.pricing-style1 .pricing-head span.value {display: block;font-size: 52px;line-height: normal;-webkit-transition: all .25s ease;transition: all .25s ease;}
.pricing-style1 .pricing-head span.duration {margin-top: 0;display: block;font-size: 14px;}
.pricing-style1 .pricing-body {padding: 40% 40px 0 40px;}
.pricing-style1 .pricing-body ul {padding-left: 0;list-style: none;font-size: 14px;color: #363636;}
.pricing-style1 .pricing-body ul li:nth-child(n+2) {padding-top: 8px;margin-top: 8px;border-top: 1px solid rgba(255,255,255,0.5);}
.pricing-style1 .pricing-body ul li i {float: right;margin-top: 6px;}
.pricing-style1 .pricing-body ul li .fa-close {background-color: #363636;border-radius: 50%;color: #fcd129;font-size: 9px;height: 15px;width: 15px;line-height: 15px;text-align: center;padding-left: 1px;}
.pricing-style1 .pricing-footer {padding: 20px 40px 40px;text-align: center;}
.pricing-style1 .pricing-footer .p-button {display: inline-block;padding: 10px 16px;font-size: 14px;min-width: 120px;text-transform: uppercase;background: #363636;color: #fff;text-decoration: none;-webkit-transition: .3s all ease;transition: .3s all ease;border-radius: 40px;}
.pricing-style1 .pricing-footer .p-button:hover {background: #fff;color: #363636;}
.pricing-style1.sec-color .pricing-plan:hover {background: #f7f7f7;}
.pricing-style1 .pricing-plan.featured, 
.pricing-style1 .pricing-plan:hover .pricing-head span.value, 
.pricing-style1 .pricing-plan.featured .pricing-head span.value {color: #fcd129;}

/* Profile Setup */

.row-centered {text-align:center;}
.col-centered { display:inline-block;}

.fav_title
{
	position:relative;
	font-size:20px;
	font-weight:bold;
	margin: auto;
	padding:5px;

}
.fav_list
{
    position: relative;
    margin: auto;
	font-size:16px;
    width: 200px;	
	padding:5px;
    background: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


/* Login */

#profile-box
{
    position: relative;
    margin: auto;
    height: 300px;
    width: 500px;
	top: 100px;
	padding:10px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#login-box
{
    position: relative;
    margin: auto;
    height: 300px;
    width: 550px;
	top: 160px;
	padding:30px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box
{
    position: absolute;
    top: 10;
    left: 30;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    height: 400px;    
}

h2
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: yellow;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: yellow;
    transition: 0.2s ease;
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
}



.right-box .signinwith
{
    display: block;
    
    margin-bottom: 40px;
    font-size: 28px;
    text-align: left;
  
}


button.social
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook
{
    background: #32508e;
}
.twitter
{
    background: #55acee;
}
.google
{
    background: #dd4b39;
}

/* Live Score Cards */


.app
{
  width: 320px;
  height:100px;
  background: #f8f8f8;
  border-left: 11px solid #034693;
  border-right: 11px solid #e89e01;

  box-shadow: 0 60px 45px -50px rgba(0,0,0,0.25),
              0 -50px 45px -50px rgba(0,0,0,0.15);
}

div.header
{
  position: relative;
  width: 100%;
  height: 40px;
}

span.team
{
  position: relative;
 width: 100%;
  height: 50%;
  display: inline;
  text-align: center;
}



span.team span.name
{
  width: 70%;
  display: inline;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(0,0,0,0.8);
}

span.score
{
  position: relative;
  padding-bottom: 50px;
   padding-left: 20px;
    padding-right: 20px;
  width: 100%;
  height: 100%;
  display: inline;
  left: 0;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(0,0,0,0.8);
  line-height: 110px;
}

span.team img.logo
{
  width: 10px;
  margin-top: 20px;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#303131,#303131);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .teams{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .teams h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .teams_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .teams_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .teams_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .teams_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
  text-decoration: none;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#303131,#303131);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  list-style: none;
  
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}

/* Media Queries */

@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: flex;
  }

  #menu-icon:hover {
    cursor: pointer;

  }

  #slideout-menu {
    display: block;
  }

  #searchbox {
    display: none;
  }

  #blogpost{
    width:100%;
    border-left:0;
  }

  #sidebar{
    display: none;
  }

  #login-box{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 719px) {
  main {
    width: 95%;
  }

  section {
    flex-direction: column;
  }

  .card,
  .card .card-image img {
    width: 100%;
  }

  .left-box{
    flex-direction: column;
  }
  
  .right-box{
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer #left-footer {
    flex: 1;
    border-right: 0;
    padding-left: 0;
  }

  footer #right-footer {
    background: #eee;
    color: black;
  }

  footer #right-footer a {
    color: black;
  }

  footer #social-media-footer a .fa-facebook,
  footer #social-media-footer a .fa-youtube,
  footer #social-media-footer a .fa-github {
    color: black;
    transition: 0.4s;
  }
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  #banner h3 {
    font-size: 20px;
  }

  .card {
    text-align: center;
  }

  #logo-img {
    padding: 0;
  }

  .
}

@media (min-width: 720px) {
  main {
    width: 95%;
  }
  .card {
    width: 45%;
  }
  .card .card-image img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 85%;
  }
}